---
import Layout from '../layouts/Layout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <main class="w-full px-4">
    <section
      class="w-full md:max-w-2xl lg:max-w-4xl flex flex-col justify-center py-8 sm:py-16 md:py-32 mx-auto"
    >
      <div>
        <img
          src="https://t3.ftcdn.net/jpg/03/58/90/78/360_F_358907879_Vdu96gF4XVhjCZxN2kCG0THTsSQi8IhT.jpg"
          class="w-16 h-16 md:w-20 md:h-20 rounded-full"
          alt="foto de perfil"
        />
        <h1 class="text-3xl md:text-4xl text-white font-bold mt-6">
          Hola, soy Christian
        </h1>
        <p
          class="font-medium mt-6 text-xl sm:max-w-xl [&>strong]:text-amber-400"
        >
          Me especializo en crear sitios web <strong
            >modernos, funcionales y adaptados a tus necesidades</strong
          >, Te ayudaré a construir la página que deseas siguiendo las
          tencologías más actuales.
        </p>
      </div>
    </section>
  </main>
</Layout>
