<header class="w-full flex justify-center text-sm p-4">
  <nav
    class="fixed top-0 z-10 mt-2 flex gap-x-2 [&>*]:opacity-90 [&>*]:hover:opacity-100 [&>*]:transition-opacity [&>*]:duration-150"
  >
    <a href="/#proyectos" class="p-2">Proyectos</a>
    <a href="/#obre-mi" class="p-2">Sobre mÍ</a>
    <a href="/#contacto" class="p-2">Contacto</a>
  </nav>
</header>

<!-- <img
class="w-10 h-10 rounded-full"
src="https://cdn.pfps.gg/pfps/2301-default-2.png"
alt="mi logo"
/> -->
